<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="naver-site-verification" content="b663487d980482a79a701f3501e3d34a02387edd"/>

{% if page.layout == 'post' or page.layout == 'page' %}
{% assign meta_type = 'article' %}
{% else %}
{% assign meta_type = 'website' %}
{% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ page.author | default: site.author }}"/>
  <meta name="keywords" content="카드뉴스제작,카드뉴스만들기,콘텐츠마케팅,페이스북 카드뉴스,페이스북마케팅,카드뉴스템플릿,카드뉴스마케팅,카드뉴스,카드뉴스사이즈,페이스북광고,sns광고,스타트업마케팅,카드뉴스PPT,카드뉴스포토샵,카드뉴스파워포인트,홍보물자동제작,마케팅콘텐츠,소셜미디어마케팅"/>

	<meta id="meta-title" property="og:title" content="{{ site.title }}"/>

	<meta property="og:url" content="{{ site.url }}"/>
	<meta property="og:image" content="/assets/images/tyle-thumbnail.png"/>
	<meta property="og:image:width" content="600"/>
	<meta property="og:image:height" content="325"/>
	<meta property="og:type" content="{{ meta_type }}"/>
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:description" content="{{ site.description }}"/>    
	<meta property="fb:app_id" content="{{ site.facebook_id }}" />
	<meta property="article:author" content="{{ site.author }}" />

	{% for tag in page.tags %}
	<meta property="article:tag" content="{{ tag }}"/>
	{% endfor %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
